*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#navigation-pannel{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
h1{
    font-size: 40px;
    color: white;
    padding: 20px;
}
#navigation{
    text-align: center;
    margin-top: 30px;
    margin-right: 50px;
}
#navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;

}
#page{
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: white;
    background: none;
}
#navigation a:hover{
    background-color: white;
    color: #4f84c4;
    font-weight: normal;
}
#page:hover{
    background-color: white ;
    color: #4f84c4;
    font-weight: normal;
}
@media (max-width:1200px) {
    #navigation-pannel h1{
        font-size: 25px;
    }
    #navigation{
        visibility: hidden;
    }
}
/* main section */

.main-section1st{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main-section1st img{
    padding-top: 100px;
    padding-right: 50px;
}
.text{
    padding: 200px 0px 0px 200px;
}
#main{
    font-size: 3rem;
    color: #4f84c4;
}
#main2{
    font-size: 1.8rem;
    padding: 20px 0px 30px 0px;
}
#butn{
    height: 50px;
    width: 150px;
    background-color: #4f84c4;
    border: none;
    color: white;
    font-size: 1rem;
}
#butn:hover{
    background-color: grey;
}
@media (max-width:1200px){
    .main-section1st{
        flex-wrap: wrap;
        height: 800px;
        width: 100%;
    }
    .text{
        height: 300px;
        width: 100%;
        padding: 150px 0px 0px 0px;
    }
    .main-section1st img{
        width: 100%;
        padding-left:20% ;
    }
}
/* main-sec2nd */
.main-section2nd{
    height: 900px;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: #f2f2f2;
}
#first{
    padding-bottom: 70px;
}
#one{
    font-size: 2.5rem;
    padding-bottom: 10px;
    color: #666666;
}
#two{
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #757575; 
}
.second{
    display: flex;
}
.text-box{
    height: 200px;
    width: 70%;
    background-color: white;
    transform: translate(150px,-60%);
    position: absolute;
    z-index: 0;
    text-align: start;
} 
.welcome{
    padding: 20px 0px 10px 30px;
    font-size: 1.8rem;
    color: #888888;
}
.lorem{
    padding: 0px 0px 8px 30px;
    font-size: 1rem;
    color: #757575;
}
#btn{
    margin-left: 30px;
    margin-top: 8px;
    height: 35px;
    width: 100px;
    border: none;
    background-color: #888888;
    color: white;
}
#btn:hover{
    background-color: #4f84c4;
}
@media (max-width:1200px){
    #second{
        height: 400px;
        width: 100%;
        transform: translate(0,0);
        
    }
    .text-box{
        transform: translate(0,0);
        width: 100%;
        height: auto;
    }
    #second img{
        width: 100%;
    }
    .lorem{
        width: 100%;
        height: auto;
    }

}
/* main-sec */
.main-sec{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    background-color: #f2f2f2;
}
.main-sec1{
    background-size: cover;
    height: 500px;
    width: 40%;
    padding: 25% 0px 0px 50px;
}
.story{
    height: 200px;
    width: 500px;
    background-color: white;
}
@media (max-width:1200px){
    .main-sec{
     display: block;
     height: auto;
        
    }
    .main-sec1 {
      padding-bottom: 10px;
      width: 100%;
    }
    .story{
        visibility: hidden;
    }
}
/* services */
.hea{
    color: #888888;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.service p{
    display: block;
    font-size: 20px;
    color: #757575;
    margin: 30px 70px 0px 80px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-gap: 30px;
    grid-auto-rows: minmax(350px,auto);
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
 .img2{
    width: 100%;
    height: 150px;
}
.h2{
    padding-top: 30px;
    font-size: 1.5rem;
    color: #4f84c4;
}
.h2:hover{
    color: #757575;
}
.h4{
    font-size: 1rem;
    color: #757575;
    padding-top: 20px;
}
.product{
    background-color: #f2f2f2;
    border: 3px black ;
    border-radius: 3px;
   
}
#develop{
    margin: 0px 4px 15px 15px;
}

.product h2{
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
   
}
.product h4{
    color: black;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:1200px){
    .container{
        grid-template-columns: repeat(1,80%);
    }
}

/* call action */

.call-Action{
    height: 350px;
    width: 100%;
    text-align: center;
    background-color: #4f84c4;
    color: white;
    margin-top: 50px;
}
.call{
    padding: 100px;
}
.call1{
    font-size: 2.5rem;
}
.call2{
    font-size: 1.5rem;
}
.call button{
    margin-top: 50px;
    height: 50px;
    width: 200px;
    border: none;
    color: #4f84c4;
    font-size: 1rem;
}
.call button:hover{
    background-color: #343a40;
    color: white;
}
@media (max-width:1200px){
    .call-Action{
        width: 100%;
        height: auto;
    }
    .call button{
        height: 40px;
        width: 150px;
    }

}
/* our pricing */
.our-pricing{
    height: 900px;
    width: 100%;
    padding-top: 50px;
    background-color: #f2f2f2;
}
.our1{
    text-align: center;
}
.our-1st{
    height: 640px;
    border: 2px solid black;
    width: 25%;
}
.our-one{
    display: flex;
    justify-content: space-around;
}
.our-1st img{
    width: 100%;
    height: 290px;
}
.text-our{
    width: 100%;
    height: 150px;
    padding: 30px 20px 10px 20px;
    line-height: 30px;
}
.text-our p{
    display: inline-block;
    padding: 2px;
}
.text-our p i{
    padding-right: 1rem;
}
.para{
    color: rgb(94, 94, 94); 
    font-weight :bold;
}
.para1{
    color: #757575;
}
.our-btn{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    position: relative;
    bottom: -17%;
    left: 25%;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #353535;
}
.our-btn:hover{
    background-color: #4f84c4;
}
.our-btn0{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    position: relative;
    bottom: -17%;
    left: 25%;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #4f84c4;
    margin-bottom: 15px;
}
.our-btn0:hover{
    background-color: #757575;
}
@media (max-width:1200px){
    .our-pricing{
        height: auto;
    }
    .our-one{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .our-1st{
        width: 70%;
        
    }
}
/* Experience section */
.experience_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.experience_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}

.experience_head h2{
    font-size: 35px;
    margin-bottom: -5px;
    color: #888888;
}

.experience_head h2 span{
    color: #888888;
}
.experience_head p{
    line-height: 50px;
    font-size: 20px;
    color: #757575;
}

.experience_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.experience_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}

.experience_bar .info p:nth-child(2){
    font-weight: 500;
}

.experience_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.experience_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #5782b5;
    border-radius: 25px;
}

/***************************experience animation start **************************experience*/

.experience_bar .bar .html{
    width: 98%;
    animation: html 2s;
}

@keyframes html {

    0%{

        width: 0%;

    }100%{

        width: 90%;

    }

}

.experience_bar .bar .css{
    width: 85%;
    animation: css 2s;
}

@keyframes css {

    0%{

        width: 0%;

    }100%{

        width: 85%;

    }

}

.experience_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}

@keyframes sass {

    0%{

        width: 0%;

    }100%{

        width: 80%;

    }

}

.experience_bar .bar .js{

    width: 80%;
    animation: css 2s;
}

@keyframes js {

    0%{

        width: 0%;

    }100%{

        width: 80%;

    }

}

.experience_bar .bar .react{

    width: 75%;

    animation: react 2s;

}

@keyframes react {

    0%{

        width: 0%;

    }100%{

        width: 75%;

    }

}

.experience_bar .bar .node{

    width: 70%;

    animation: node 2s;

}

@keyframes node {

    0%{

        width: 0%;

    }100%{

        width: 70%;

    }

}

.experience_bar .bar .express{

    width: 65%;

    animation: express 2s;

}

@keyframes express {

    0%{

        width: 0%;

    }100%{

        width: 65%;

    }

}

.experience_bar .bar .python{

    width: 60%;

    animation: python 2s;

}

@keyframes python {

    0%{

        width: 0%;

    }100%{

        width: 60%;

    }

}

/* data */
.data{
    height: 415px;
    width: 100%;
    background-color: #4f84c4;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.dat1{
    height: 350px;
    width: 85%;
    display: flex;
    
}
.symbol1{
    height: 80%;
    width: 25%;
    text-align: center;
}
.symbol1 h2{
  color: white;
  padding-bottom: 9px;
  font-size: 4rem;
}
.symbol1 p{
    color: white;
    font-size: 1.5rem;
}
@media (max-width:1200px){
    .data{
        height: auto;
        width: 100%;
    }
    .dat1{
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        
    }
    .symbol1{
        text-align: center;
    }
}

/* -- Gallery Section Start From here -- */
.portfolio{
    margin-top: 50px;
    margin: 20px 30px 0px 30px;
}

h2{
    text-align: center;
}
span{
    color: #5782b5;
}
#gallery-section{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.088);

}

.gallery-main .category{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.gallery-main .category ul {

    display: flex;

}

.gallery-main .category ul li{

    list-style: none;

    margin-right: 20px;

    cursor: pointer;

}

.gallery-main .gallery{

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-gap: 30px;

}

.img-card{

    position: relative;

}

.img-card .desc{

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0;

    background-color: #5782b5;

    display: grid;

    place-items: center;

    color: #fff;

    border-radius: 4px;

    opacity: 0;

    transition: .3s;

}

.img-card:hover .desc{

    opacity: .9;

}

.gallery .img-card img{

    width: 100%;

    height: 100%;

    border-radius: 4px;

}

.category li:hover{
    text-decoration: underline;
}
/* meet our team*/
.meet-our-team{
    margin-top: 50px;
}
.team78{
    display: grid;
    grid-template-columns: repeat(3,280px);
    grid-auto-rows: minmax(260px auto);
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    color: black;
}

.member{
    background-color: #f2f2f2;
}

.name{
    color: #888888;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.work{
    color: #888888;
    text-align: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    padding: 10px;
}
.name3{
    color: #888888;
    text-align: center;
    margin-top: 5px;
    font-size: 0.8rem;
}
@media (max-width:1200px){
    .team78{
        grid-template-columns: repeat(1,70%);
    }
    .member img{
        width: 100%;
        height: auto;
    }
}
/* review*/
.team7{
    display: grid;
    grid-template-columns: repeat(3,280px);
    grid-auto-rows: minmax(260px auto);
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    color: black;
    background-color: #f2f2f2;
}
.member1{
    background-color: white;
}
.reviews{
    height: 750px;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 50px;
    padding-top: 50px;
}
@media (max-width:1200px){
    .team7{
        grid-template-columns: repeat(1,70%);
        height: auto;
        width: 100%;
    }
    .member1 img{
        width: 100%;
        height: auto;
    }
    .reviews{
        height: auto;
        width: 100%;
    }
}

/********************************************* contact start *********************************************/
input,textarea, a{
    font-family: 'Roboto', sans-serif;
}
#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgb(172, 168, 173) 0%, rgb(210, 209, 209) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: black;
}
.info-details li i {
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: black;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #31279d;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}
/*********************************************** contact css end ***********************************************/
/* footer */
footer{
    width: 100%;
    position: relative;
    bottom: 0%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    
}
.news{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.news i{
    font-size: 18px;
    margin-right: 10px;
}
.news input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.news button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.news button i{
    font-size: 16px;
    color: #ccc;
}
.social i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
   width: 90%;
   border: 0;
   border-bottom: 1px solid #ccc;
   margin: 20px auto; 
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media ( max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    } 
}








